<div style="display: flex;width: 100%;gap: 10px;">
    <div class="card text-bg-dark" style="width: 33%;">
        <img src="https://i.pinimg.com/736x/41/f8/a8/41f8a89a57a6ca1a36c66c444e0a59a5.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Bon Voyage</h5>
          <p class="card-text">BTS' Jung Kook has repeatedly swayed fans with his multi-talented persona. Painting, boxing, gaming, singing, and dancing, are just some of the skills he has mastered.</p>
        </div>
      </div>
      <div class="card text-bg-dark" style="width: 33%;">
        <img src="https://staticg.sportskeeda.com/editor/2022/07/cac2f-16588503691118-1920.jpg?w=640" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Bon Voyage</h5>
          <p class="card-text">BTS' Jung Kook has repeatedly swayed fans with his multi-talented persona. Painting, boxing, gaming, singing, and dancing, are just some of the skills he has mastered.</p>
        </div>
      </div>
      <div class="card text-bg-dark" style="width: 33%;">
        <img src="https://i.pinimg.com/originals/78/24/e8/7824e856a1656743271eca662d4436d6.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Time Pass</h5>
          <p class="card-text">BTS' Jung Kook has repeatedly swayed fans with his multi-talented persona. Painting, boxing, gaming, singing, and dancing, are just some of the skills he has mastered.</p>
        </div>
      </div>
</div>